@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 255 255 255;
		--foreground: 58 66 86;

		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;

		--primary: 25 211 174;
		--primary-foreground: 255 255 255;

		--secondary: 15 207 236;
		--secondary-foreground: 255 255 255;

		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;

		--accent: 58 66 86;
		--accent-foreground: 255 255 255;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;

		--error: 255 105 105;
		--error-foreground: 255 255 255;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 222.2 84% 4.9%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 255 255 255;
		--foreground: 58 66 86;

		--card: 222.2 84% 4.9%;
		--card-foreground: 210 40% 98%;

		--popover: 222.2 84% 4.9%;
		--popover-foreground: 210 40% 98%;

		--primary: 25 211 174;
		--primary-foreground: 255 255 255;

		--secondary: 15 207 236;
		--secondary-foreground: 255 255 255;

		--muted: 217.2 32.6% 17.5%;
		--muted-foreground: 215 20.2% 65.1%;

		--accent: 58 66 86;
		--accent-foreground: 255 255 255;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 40% 98%;

		--error: 255 105 105;
		--error-foreground: 255 255 255;

		--border: 217.2 32.6% 17.5%;
		--input: 217.2 32.6% 17.5%;
		--ring: 212.7 26.8% 83.9%;
	}

	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
		&:has(header .clicked) {
			@apply overflow-hidden;
		}
	}
	.bg-background {
		@apply text-foreground;
	}
	.bg-primary {
		@apply text-primary-foreground;
	}
	.bg-secondary {
		@apply text-secondary-foreground;
	}
	.bg-accent {
		@apply text-accent-foreground;
	}
	.show-sidebar {
		animation: toggle-sidebar 0.5s ease-in-out forwards;
	}
	.hide-sidebar {
		animation: toggle-sidebar 0.5s ease-in-out backwards;
	}
}

@media (min-width: 768px) {
	footer {
		background-image: url("../utilities/images/footer.png");
	}
}

.burger {
	&.clicked {
		.burger-icon-1 {
			transform: rotateZ(45deg) scaleX(0.9) translate(6.5px, 6.5px);
		}
		.burger-icon-2 {
			@apply opacity-0;
			transform: scaleX(0.5);
		}
		.burger-icon-3 {
			transform: rotateZ(-45deg) scaleX(0.9) translate(7px, -7px);
		}
	}
}

@keyframes toggle-sidebar {
	from {
		@apply -z-10;
	}
	to {
		@apply z-10;
	}
}
